{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1 class="formtitle">User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Description</th>
                <th>City</th>
                <th>Avatar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.description }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.avatar }}</td>
                <td>
                  <section class="linkintable">
                    <a href="{{ path('user_show', {'id': user.id}) }}" class="liens">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="liens">edit</a>
                  </section>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <section class="button">
      <a href="{{ path('user_new') }}" class="liens">Create new</a>
    </section>
{% endblock %}
